* {
     padding: 0;
     margin: 0;
}
footer {
     background-color: #4e342e;
}

li > a{
     color: white;
     text-decoration: none;
     font-size: 15px;
     padding-right: 29px;
}
body {
     font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     background-color: #d8cea8;
}
.logo-cafe{
     width: 8%;
     border-radius: 60%;
}

/* header {
     display: flex;
     justify-content:space-between;
     align-items: center;
} */

/* nav {
     width: 93%;
}
nav ul {
     display: flex;
     justify-content: space-between;
     list-style: none;
} */
.imagen-presentacion {
     width:  100%;
     border: 1px solid black;
     border-radius: 2%;
     margin-bottom: 0;

}

h1,h2 {
     text-transform: uppercase;
     text-align: center;
     font-weight: 700;
     color: green;
     padding: 4% 0 20px 1vh ;
     text-align: center;
}
.menu-comida {
     display: flex;
     justify-content: space-around;
     gap: 60px;
     padding: 40px;
     font-family: sans-serif;
}
.espacio{
     display: flex;
     flex-direction: column;
     height: 100vh;
}
.columna ul{
     list-style: none;
     padding: 0;
     margin: 0;
}
.columna li {
     display: flex;
     justify-content:flex-end;
}
li {
     padding-bottom: 15px;
}
.galeria img {
     width: 23%;
     height: 20%;
}
.galeria {
     background-color: #676767;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
.reseña img{
     height: 14%;
     width: 14%;
}
.reseña {
     background-color: #d8cea8;
}

/* .izquierda {
     text-align: left;
     padding-bottom: 0;
} */

.formulario { 
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: left;
     text-decoration: none;
     font-weight: bold;
}
.formulario-completo{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     background-color: #676767;
     padding-bottom: 3vh;
}
input, textarea {
     width: 45%;
     box-sizing: border-box;
     min-width: 35%
}
.enviar {
     width: 20%;
     padding-top: 1%;
}
/* body {
     display: flex;
     flex-direction: column;
} */
html, body {
     height: 100%;         /* Que ocupen todo el alto */
     margin: 0;            /* Quitar márgenes por defecto */
}
main {
     padding-bottom: 2%;
     padding-left: 1%;
}
footer .redes{
     display: flex;
     justify-content: space-around;
}
.fa-brands{
     font-size: 30px;
}
.fa-instagram{
     color:#d62976;
}
.fa-facebook,.fa-linkedin {
     color: blue;
}
.fa-youtube{
     color: red;
}
.derechos {
     text-align: center;
}
/* div .menu-abajo {
     display: flex;
     justify-content: space-around;
     list-style: none;
} */
header{
     background-color: #4e342e;
}
a{
     text-decoration: none;
     color: white;
}