@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Poppins:wght@500;600;700&display=swap');

$color-nav:#4e342e;
$color-fondo: #d8cea8;
$tipografia-principal:"poppins",sans-serif;

@mixin flex ($direction,$justify-content,$aling-item,$wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $aling-item;
    flex-wrap: $wrap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2 {
    font-family: $tipografia-principal;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: green;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

body {
        font-family: $tipografia-principal;
        font-weight: 400;
        background-color: $color-fondo;
        height: 100vh;         /* Que ocupen todo el alto */
        margin: 0;            /* Quitar márgenes por defecto */

    header{
        padding-bottom: 10%;
        .navbar {
                display: flex;
                flex-wrap: nowrap;
                position:fixed;
                background-color: $color-nav;
                height: 14%;   
                text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
                font-size: small;
            .logo-cafe {     
                    width: 8%;
                    border-radius: 60%;
                    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
                    }
                    }
                    }

        main{
                        .imagen-presentacion {
                            width:  100%;
                            border: 1px solid black;
                            border-radius: 1%;
                            margin-bottom: 0;}
                    }
        footer {
            background-color: $color-nav;
            .redes{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                justify-items: center   ;
                padding-top: 2%;
            }
            .fa-brands{
                font-size: 30px;
            }
            .fa-instagram{
                color:#d62976;
            }
            .fa-facebook,.fa-linkedin {
                color: blue;
            }
            .fa-youtube{
                color: red;
            }
            .derechos {
                text-align: center;
                color: white;
            }
        }
    }





@media (max-width: 768px) {
        .navbar {
          position: static !important;
            }





}